﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Movies Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToString("dddd , d , MM , yyyy")</li>
    <li>Added Date: @Model.AddedDate.ToString("dddd MMM yyyy")</li>
    <li>Number in stock: @Model.NumberInStock</li>
</ul>

