﻿@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<button class="btn btn-info py-2">@Html.ActionLink("New Movie", "New")</button>
<br />
<table class="table table-striped table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {

        var table =  $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/customers/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button";
                        }
                    }
                ]
            });

            ///////////////////////////////////////////////////////////////////////////

            $("#movies").on("click", ".js-delete", function () {
                var btn = $(this);
                bootbox.confirm("Are sure to delete this movies ?", function (res) {
                    if (res) {
                        $.ajax({
                            url: "/api/movies/" + btn.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("suceess");
                                //btn.parents("tr").remove();
                                table.row(btn.parents("tr"))
                                    .remove()
                                    .draw();
                            }
                        });
                    }
                });
            });
        });

    </script>

}

