﻿@model Vidly.ViewModels.RandomMoviesViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@if (Model.Customers.Count != 0)
{
    <ul>@foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}
else
{
    <text>This movie has not rented yet.</text>
}


