﻿@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-striped table-bordered table-hover" id="customers">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <td></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(
            function () {

                var table = $("#customers").DataTable({
                    ajax: {
                        url: "/api/customers",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name",
                            render: function (data, type, customer) {
                                return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                            }
                        },
                        {
                            data: "membershipType.name"
                        },
                        {
                            data: "id",
                            render: function (data) {
                                return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button";
                            }
                        }
                    ]

                });

                ////////////////////////////////////////////////////////
                $("#customers").on("click", ".js-delete", function () {
                    var btn = $(this);
                    bootbox.confirm("Are sure to delete this customer ?", function (res) {
                        if (res) {
                            $.ajax({
                                url: "/api/customers/" + btn.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    //console.log("success");
                                    //btn.parents("tr").remove();
                                    table.row(btn.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            }
        )
    </script>
}


