﻿@model dynamic
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Movie</h2>
<form id="newRentals">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input class="form-control" data-rule-validCustomer="true" required type="text" value="" id="customer" />
        </div> 
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input class="form-control" data-rule-atLeastOneMovie="true" type="text" value="" id="movie" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div> 
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@section scripts{ 

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var viewModel = {
                moviesId: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                viewModel.customerId = customer.id;
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                $("#movie").typeahead("val", "");

                viewModel.moviesId.push(movie.id);
            });

            $.validator.addMethod("validCustomer", function () {
                return viewModel.customerId && viewModel.customerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("atLeastOneMovie", function () {
                return viewModel.movieIds.length > 0;
            }, "Please select at least one movie.");

            var validator = $("#newRentals").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newrentals",
                        method: "POST",
                        data: viewModel
                    }).done(function () {
                        //console.log("done");
                        toastr.success("New Rental has been Successed.");
                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#movies").empty();
                        viewModel = { movieIds: [] };

                        validator.resetForm();

                    }).fail(function () {
                        toastr.error("New Rental has been failed.");
                    });

                    return false;
                }
            });

        });
    </script>
}